[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
factory-boy = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.11"
